body {
	height: 100vh;
	display: grid;
	grid-template-rows: auto auto auto 1fr auto;
	place-items: center;
	font-family: 'Galindo', display;
	margin: 0;
	background: #FBDD11;
}

h1 {
	color: #e81717;
	margin: 10px;
}

.product-button {
	width: 24vw;
	max-width: 100px;
	height: 130px;
	background: #4CBF4B;
	float: left;
	margin: 0 5px;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.product-button>span {
	font-size: 4rem;
	color: white;
	font-weight: bold;
	position: absolute;
}

#total-display {
	margin: 20px 0;
	padding: 10px 0;
	border-top: 2px solid #e81717;
	border-bottom: 2px solid #e81717;
	width: 100%;
	max-width: 300px;
	text-align: center;
	font-size: 2rem;
}

.footer {
	grid-template-columns: 100px 1fr;
	display: grid;
	height: 100px;
	width: 100vw;
	/* background-color: #ef77cf; */
}

#status-area {
	padding: 10px;
}

#status-waiting {
	display: none;
	padding: 15px;
}

#status-complete {
	display: none;
	padding: 5px;
}

#status-failed {
	display: none;
}

#status-waiting>svg {
	animation-name: spin;
	animation-duration: 2000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

#monkey-area {
	display: none;
	width: 200px;
	height: 200px;
	/* background: orange; */
}

.monkey-box {
	width: 86px;
	display: inline-block;
}

#tx-confirming-area {
	display: none;
	z-index: 999;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.fa-primary,
.fa-secondary {
	fill: white;
}

.fa-secondary {
	opacity: .4;
}

.status-complete {
	fill: green;
}

.status-failed {
	fill: red;
}

@keyframes popDiv {
	0% {
		transform: scale(1) rotate(0deg);
	}
	100% {
		transform: scale(0) rotate(360deg);
	}
}

.pop {
	animation: popDiv 2s ease-in forwards;
}


/*
mostly - https://codepen.io/codecalm/pen/pjJMQB
*/

.dots {
	width: 0;
	height: 0;
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	filter: url(#goo);
}

.dot {
	width: 0;
	height: 0;
	position: absolute;
	left: 0;
	top: 0;
}

.dot:before {
	content: "";
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: yellow;
	position: absolute;
	left: 50%;
	top: -55px;
	margin-left: -10px;
	margin-top: -10px;
}

@-webkit-keyframes dot-0 {
	0% {
		transform: rotate(343.6363636364deg);
	}
	100% {
		transform: rotate(180deg);
	}
}

@keyframes dot-0 {
	0% {
		transform: rotate(343.6363636364deg);
	}
	100% {
		transform: rotate(180deg);
	}
}

.dot:nth-child(1) {
	transform: rotate(0deg);
	-webkit-animation: dot-0 7s cubic-bezier(0.3, 0, 0.7, 1) infinite;
	animation: dot-0 7s cubic-bezier(0.3, 0, 0.7, 1) infinite;
}

@-webkit-keyframes dot-1 {
	0% {
		transform: rotate(540deg);
	}
	100% {
		transform: rotate(212.7272727273deg);
	}
}

@keyframes dot-1 {
	0% {
		transform: rotate(540deg);
	}
	100% {
		transform: rotate(212.7272727273deg);
	}
}

.dot:nth-child(2) {
	transform: rotate(32.7272727273deg);
	-webkit-animation: dot-1 7s cubic-bezier(0.3, 0, 0.7, 1) infinite;
	animation: dot-1 7s cubic-bezier(0.3, 0, 0.7, 1) infinite;
}

@-webkit-keyframes dot-2 {
	0% {
		transform: rotate(736.3636363636deg);
	}
	100% {
		transform: rotate(245.4545454545deg);
	}
}

@keyframes dot-2 {
	0% {
		transform: rotate(736.3636363636deg);
	}
	100% {
		transform: rotate(245.4545454545deg);
	}
}

.dot:nth-child(3) {
	transform: rotate(65.4545454545deg);
	-webkit-animation: dot-2 7s cubic-bezier(0.3, 0, 0.7, 1) infinite;
	animation: dot-2 7s cubic-bezier(0.3, 0, 0.7, 1) infinite;
}

@-webkit-keyframes dot-3 {
	0% {
		transform: rotate(932.7272727273deg);
	}
	100% {
		transform: rotate(278.1818181818deg);
	}
}

@keyframes dot-3 {
	0% {
		transform: rotate(932.7272727273deg);
	}
	100% {
		transform: rotate(278.1818181818deg);
	}
}

.dot:nth-child(4) {
	transform: rotate(98.1818181818deg);
	-webkit-animation: dot-3 7s cubic-bezier(0.3, 0, 0.7, 1) infinite;
	animation: dot-3 7s cubic-bezier(0.3, 0, 0.7, 1) infinite;
}

@-webkit-keyframes dot-4 {
	0% {
		transform: rotate(1129.0909090909deg);
	}
	100% {
		transform: rotate(310.9090909091deg);
	}
}

@keyframes dot-4 {
	0% {
		transform: rotate(1129.0909090909deg);
	}
	100% {
		transform: rotate(310.9090909091deg);
	}
}

.dot:nth-child(5) {
	transform: rotate(130.9090909091deg);
	-webkit-animation: dot-4 7s cubic-bezier(0.3, 0, 0.7, 1) infinite;
	animation: dot-4 7s cubic-bezier(0.3, 0, 0.7, 1) infinite;
}

@-webkit-keyframes dot-5 {
	0% {
		transform: rotate(1325.4545454545deg);
	}
	100% {
		transform: rotate(343.6363636364deg);
	}
}

@keyframes dot-5 {
	0% {
		transform: rotate(1325.4545454545deg);
	}
	100% {
		transform: rotate(343.6363636364deg);
	}
}

.dot:nth-child(6) {
	transform: rotate(163.6363636364deg);
	-webkit-animation: dot-5 7s cubic-bezier(0.3, 0, 0.7, 1) infinite;
	animation: dot-5 7s cubic-bezier(0.3, 0, 0.7, 1) infinite;
}

@-webkit-keyframes dot-6 {
	0% {
		transform: rotate(1521.8181818182deg);
	}
	100% {
		transform: rotate(376.3636363636deg);
	}
}

@keyframes dot-6 {
	0% {
		transform: rotate(1521.8181818182deg);
	}
	100% {
		transform: rotate(376.3636363636deg);
	}
}

.dot:nth-child(7) {
	transform: rotate(196.3636363636deg);
	-webkit-animation: dot-6 7s cubic-bezier(0.3, 0, 0.7, 1) infinite;
	animation: dot-6 7s cubic-bezier(0.3, 0, 0.7, 1) infinite;
}

@-webkit-keyframes dot-7 {
	0% {
		transform: rotate(1718.1818181818deg);
	}
	100% {
		transform: rotate(409.0909090909deg);
	}
}

@keyframes dot-7 {
	0% {
		transform: rotate(1718.1818181818deg);
	}
	100% {
		transform: rotate(409.0909090909deg);
	}
}

.dot:nth-child(8) {
	transform: rotate(229.0909090909deg);
	-webkit-animation: dot-7 7s cubic-bezier(0.3, 0, 0.7, 1) infinite;
	animation: dot-7 7s cubic-bezier(0.3, 0, 0.7, 1) infinite;
}

@-webkit-keyframes dot-8 {
	0% {
		transform: rotate(1914.5454545455deg);
	}
	100% {
		transform: rotate(441.8181818182deg);
	}
}

@keyframes dot-8 {
	0% {
		transform: rotate(1914.5454545455deg);
	}
	100% {
		transform: rotate(441.8181818182deg);
	}
}

.dot:nth-child(9) {
	transform: rotate(261.8181818182deg);
	-webkit-animation: dot-8 7s cubic-bezier(0.3, 0, 0.7, 1) infinite;
	animation: dot-8 7s cubic-bezier(0.3, 0, 0.7, 1) infinite;
}

@-webkit-keyframes dot-9 {
	0% {
		transform: rotate(2110.9090909091deg);
	}
	100% {
		transform: rotate(474.5454545455deg);
	}
}

@keyframes dot-9 {
	0% {
		transform: rotate(2110.9090909091deg);
	}
	100% {
		transform: rotate(474.5454545455deg);
	}
}

.dot:nth-child(10) {
	transform: rotate(294.5454545455deg);
	-webkit-animation: dot-9 7s cubic-bezier(0.3, 0, 0.7, 1) infinite;
	animation: dot-9 7s cubic-bezier(0.3, 0, 0.7, 1) infinite;
}

@-webkit-keyframes dot-10 {
	0% {
		transform: rotate(2307.2727272727deg);
	}
	100% {
		transform: rotate(507.2727272727deg);
	}
}

@keyframes dot-10 {
	0% {
		transform: rotate(2307.2727272727deg);
	}
	100% {
		transform: rotate(507.2727272727deg);
	}
}

.dot:nth-child(11) {
	transform: rotate(327.2727272727deg);
	-webkit-animation: dot-10 7s cubic-bezier(0.3, 0, 0.7, 1) infinite;
	animation: dot-10 7s cubic-bezier(0.3, 0, 0.7, 1) infinite;
}
